# --- For-Bot-Working --------- #
https://github.com/KurimuzonAkuma/pyrogram/archive/refs/tags/v2.1.17.zip
TgCrypto
Pyromod
# --- For-Database ------------ #
pymongo
dnspython
# --- For-Web-Response ------- #
aiohttp
requests
